<div class="container-xxl mt-5">
  <div *ngIf="!LoggedIn">
    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="container-xxl mt-5">
        <h1 class="center">Login</h1>
        <div *ngIf="invalidLogin" class="alert alert-danger">
          Invalid name or password
        </div>
        <br />
        <div>
          <label for="name" class="sr-only">Name:</label>
          <input
            name="name"
            type="text"
            id="name"
            ngModel
            class="form-control"
            placeholder="Name"
            required
            autofocus
          />
        </div>
        <div>
          <label for="password" class="sr-only">Password:</label>
          <input
            name="password"
            type="password"
            id="password"
            ngModel
            class="form-control"
            placeholder="password"
            required
            autofocus
          />
        </div>
        <br />
        <button class="btn btn-info text-white" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div *ngIf="LoggedIn">
    <h1 class="center">You are logged in !</h1>
  </div>
</div>
