.Text {
    margin-left: 50px;
    margin-bottom: 6px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }
  
  .input {
    width: 400px;
    height: 40px;
    padding: 15px 16.9px 15.6px;
    margin-left: 50px;
    border-radius: 7.5px;

    font-size: 50px;
  }
  
  .input.invalid {
    background: rgba(255, 0, 0, 0.3);
    border: solid 7.6px #FF0000;
    color: #FF0000;
  }
  
  .input.valid  {
    border-color: green;
    color: #416609;
  }
  
  .input.empty {
    border-color: grey;
  }