/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// Background
body {
    background-color: #ffffff; /* replace with your desired color value */
  }
  
// Text
$Default-Text-Color:black;
$Secondary-Text-Color:rgb(235, 235, 235);

$Default-Text-Shadow:#aeb2aa;
$Small-Text-Color: #e4e4e4;

// Image sizes
.cards-img{
    width: 100%;
    height: 300px;
} 
.carousel-img{
    width: 100%;
    height: 500px;
    border-radius: 5%;
} 

// Positioning
.center {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
  }
  

// Cars 'logo' Text
.StaticNeon {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 50px;
    -webkit-text-stroke-width: 7px;
    -webkit-text-stroke: rgb(14, 179, 230);
    -webkit-text-stroke-color: rgb(14, 179, 230);
    -webkit-text-stroke-width: 5px;
    animation: StaticNeonEffect 6s ease-in-out infinite;
}
@keyframes StaticNeonEffect {
    0% {
      color: rgb(14, 179, 230);
      -webkit-text-stroke-color: rgb(12, 125, 153);
    }
    50% {
      color: rgb(19, 171, 209);
      -webkit-text-stroke-color: rgb(8, 178, 245);
    }
    100% {
      color: rgb(12, 197, 243);
      -webkit-text-stroke-color: rgb(15, 167, 255);
    }
}
